@font-face {
    font-family: "Akira";
    src: url('../font/Akira Expanded Demo.otf');
    font-weight: bold;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800;900&display=swap');
// @font-face {
//     font-family: "Akira";
//     src: url('../font/akiraregular.ttf');
//     font-weight: regular;
//     font-style: normal;
// }